PORT=4000
CORS_ORIGIN=http://localhost:5173
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_WEB_CLIENT_ID=
AZURE_ADMIN_GROUP_IDS=
AZURE_USER_GROUP_IDS=
USER_EDIT_SCOPE=all
SP_SITE_ID=
SP_PROJECTS_LIST_ID=
SP_ACTIVITIES_LIST_ID=
DEV_BYPASS_AUTH=false
